body {
  margin: 0;
  padding: 0;
}

main {
  max-width: 1250px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.welcome-section {
  background-color: #0b0454;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

h1 {
  color: #4CAF50;
  font-size: 32px;
  margin-top: 0;
}

.avatar-container {
  margin-top: 10px;
}

.avatar-container img {
  border-radius: 50%;
  max-width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#welcome-message {
  color: #555;
  font-size: 18px;
  margin-top: 0;
  max-width: 1250px;
}

.logo-section {
  margin-top: 20px;
}

#logo {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 2px solid #4CAF50;
  /* Example border color */
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

#logo:hover {
  transform: scale(1.1);
}