
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #2f3847

}

.nav-center {
  width: 90vw;
  max-width: 1120px;
  display: flex;
  align-items: center;

}

.nav-header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img {
  height: 100px;
  width: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.nav-btn {
  background-color: #c57f1e;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
}

.nav-btn i {
  font-size: 1.25rem;
  align-items: right;
}

.nav-links {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  transition: all 1s ease-out;

}
.nav-link {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: #c57f1e;
  letter-spacing: normal;
  padding: 1.5rem 0;
  border-top: 1px solid white;
  transition: all 1s ease-out;
  font-weight: bolder;
  font-size: 30px;
}

.nav-link:hover {
  color: #fff
}

.show-links {
  height: 400px
}

@media screen and (min-width:992px) {
  .nav-btn {
    display: none;
  }
  .navbar {
    height: 6rem;
  }
  .nav-center {
    display: flex;
    align-items: center;
  }
  .nav-header {
    height: auto;
    margin-right: 2rem;
  }
  .nav-links {
    height: auto;
    flex-direction: row;
    align-items: center;
    width: 100%;

  }
  .nav-link {
    padding: 0;
    border-top: none;
    margin-right: 1rem;
    font-size: 1rem;
  }
}



.user-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.user-actions button {
  margin-right: 0;
  font-size: 16px;
}

#logout {
  background-color: #c57f1e;
  color: #2f3847;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 15%;
}

#logout:hover {
  background-color: #2f3847;
  color: #c57f1e;
}