body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #0b0454;
  color: white;
}

.recipe-links {
  display: flex;
  align-items: center;
}

.recipe-links a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.recipe-links a.active {
  font-weight: bold;
}

#website-name {
  display: flex;
  margin: auto;
  font-size: 24px;
  text-align: center;
}

.user-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.user-actions button {
  margin-left: 10px;
  font-size: 16px;
}