<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Recipes! ЁЯМоЁЯМоЁЯМо</h1>
  <ul>
    <% recipes.forEach(recipe => { %>
      <li>ЁЯМо <%= recipe.title %> </li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>