.section-heading {
  text-align: center;
  color: #102C4E;
  margin-top: 150px;
  margin-bottom: 70px;
  font-size: 35px;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.recipe-tile {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #0b0454;
  color: #c57f1e;
  text-align: center;
}

.recipe-tile {
  transition: box-shadow 0.3s ease;
}

.recipe-tile:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.view-recipe-btn {
  color: #fff;
}