
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #4caf50;
  color: #fff;
}

section {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.recipe-header {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

#author {
  text-align: center;
}

.time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* #total-time {

}

#prep-time

#cook-time */

.recipe-content {
  display: flex;
  justify-content: space-between;
}

.ingredients {
  width: 40%;
}

.preparation {
  width: 100%;
}

#change-btns {
  display: flex;
  flex-direction: row;
}

button.btn {
  background-color: #0b0454;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button.btn:hover {
  background-color: #0b0454;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  list-style-type: none;
  margin-bottom: 8px;
}

/* Responsive design */
@media (max-width: 600px) {
  section {
    padding: 15px;
  }

  h1 {
    font-size: 20px;
  }
}